@import "tailwindcss";

@theme {
  --color-valentine-50: #fff1f2;
  --color-valentine-100: #ffe4e6;
  --color-valentine-200: #fecdd3;
  --color-valentine-300: #fda4af;
  --color-valentine-400: #fb7185;
  --color-valentine-500: #f43f5e;
  --color-valentine-600: #e11d48;
  --color-valentine-700: #be123c;
  --color-valentine-800: #9f1239;
  --color-valentine-900: #881337;
}

:root {
  --background: #fff1f2;
  --foreground: #881337;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #fff1f2;
}
::-webkit-scrollbar-thumb {
  background: #fda4af;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #fb7185;
}
